# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next
out
build
dist

# Expo
.expo
.expo-shared
__generated__

# iOS native builds
ios/
*.xcodeproj
*.xcworkspace
Pods/
Podfile.lock
*.xcuserstate
*.xcuserdatad

# Android native builds
android/
*.keystore
*.jks
local.properties

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env.production

# Vercel
.vercel

# Turbo
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Supabase
**/supabase/.branches
**/supabase/.temp
