# Hoist shared dependencies to root node_modules
shamefully-hoist=true

# Strict peer dependencies
strict-peer-dependencies=false

# Auto install peers
auto-install-peers=true

# Shared workspace lockfile
shared-workspace-lockfile=true
